:root {
    --transition-time: 0.3s;
    --color-background: #505050;
    --color-background-light: #999999;
    --color-font: #EAECEE;
    --color-font-light: white;
    --color-font-inverted: #151515;
}

html {
    background-color: var(--color-background);
    margin: auto;
    font-family: "Hind", sans-serif;
}

body {
    min-width: 100%;
}

html, body {
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    position: fixed;
    left: 0;
    right: 0;
}

h1, p {
    color: var(--color-font);
    line-height: 1.6em;
}

.header {
    font-weight: 400;
    margin-top: .6em;
    margin-bottom: .6em;
    font-size: 1.8em;
    letter-spacing: 0.14em;
    text-align: center;
}

.flex-body {
    max-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    top: 25%;
    transform: translateY(-50%);
}

.body-line {
    font-weight: 300;
    font-size: 110%;
    margin-top: .6em;
    margin-bottom: .6em;
    max-width: 900px;
}

@media only screen and (max-width: 1080px) {
    .body-line {
        max-width: 85%;
    }
}
@media only screen and (max-width: 600px) {
    .body-line {
        max-width: 95%;
    }
}

.button-flex, .social-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

a.button {
    margin-top: .6em;
    margin-left: 0.3em;
    margin-right: 0.3em;
    text-align: center;
    width: 6.5em;
    height: 2.9em;
    line-height: 2.9em;
    border: 0.125em solid var(--color-font);
    transition: all var(--transition-time);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
    outline: none;
    color: var(--color-font);
}

a.button:hover, a.button:focus {
    color: var(--color-background);
    background-color: var(--color-font);
}

a.button:active {
    color: var(--color-background-light);
    background-color: var(--color-font-light);
    border: 0.125em solid var(--color-font-light);
}

a.text-link {
    color: var(--color-font);
    font-weight: 300;
    line-height: 1.4em;
    text-underline-offset: 0.3em;
    text-decoration-color: var(--color-background-light);
}

a.text-link:link {
    transition: all var(--transition-time);
}

a.text-link:hover {
    text-decoration-color: var(--color-font);
}

a.text-link:active {
    text-decoration-color: var(--color-font);
}

.social-flex {
    max-height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 0;
    right: 0;
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}

a.social-button {
    text-align: center;
    line-height: 2.81em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
    outline: none;
    color: var(--color-font-inverted);
    transition: all var(--transition-time);
    margin-left: 0.3em;
    margin-right: 0.3em;
}

a.social-button:hover, a.social-button:focus {
    color: var(--color-font);
}

footer {
    position: fixed;
    bottom: 0.5%;
    left: 0;
    right: 0;
}
